@model ReservationDetailsVM
@{
    ViewData["Title"] = "Réservation en ligne";
}

<div class="row">
    <div class="col-md-4 d-none d-md-block">
        <img src="~/img/Complet.png" alt="RéservationComplétée" />
    </div>

    <div class="col text-center">
        <div class="row page-title">
            <h2>Réservation complétée avec succès</h2>
        </div>
        <hr />
        <div class="row details-row">
            <div class="col-sm-6"><b>@Html.DisplayNameFor(ReservationDetailsVM => ReservationDetailsVM.reservation.Nom) : </b></div>
            <div class="col-sm-6">@Html.DisplayFor(ReservationDetailsVM => ReservationDetailsVM.reservation.Nom)</div>
        </div>
        <div class="row details-row">
            <div class="col-sm-6"><b>@Html.DisplayNameFor(ReservationDetailsVM => ReservationDetailsVM.reservation.Courriel) : </b></div>
            <div class="col-sm-6">@Html.DisplayFor(ReservationDetailsVM => ReservationDetailsVM.reservation.Courriel)</div>
        </div>
        <div class="row details-row">
            <div class="col-sm-6"><b>@Html.DisplayNameFor(ReservationDetailsVM => ReservationDetailsVM.reservation.NbPersonne) : </b></div>
            <div class="col-sm-6">@Html.DisplayFor(ReservationDetailsVM => ReservationDetailsVM.reservation.NbPersonne) pers.</div>
        </div>

        <div class="row details-row">
            <div class="col-sm-6"><b>@Html.DisplayNameFor(ReservationDetailsVM => ReservationDetailsVM.reservation.DateReservation) : </b></div>
            <div class="col-sm-6">@Html.DisplayFor(ReservationDetailsVM => ReservationDetailsVM.reservation.DateReservation)</div>
        </div>
        <div class="row details-row">
            <div class="col-sm-6"><b>@Html.DisplayNameFor(ReservationDetailsVM => ReservationDetailsVM.Menuchoices.Description) : </b></div>
            <div class="col-sm-6">@Html.DisplayFor(ReservationDetailsVM => ReservationDetailsVM.Menuchoices.Description)</div>
        </div>
        <hr />

        <p>Merci d'avoir utiliser notre module de réservation en ligne au plaisir de vous voir bientôt.</p>
        <br>
        <p>L'équipe</p>

        <a asp-area="" asp-controller="Home" asp-action="Index">Retourner à la page d'accueil</a>
    </div>
</div>


