@model Reservations
@{
    ViewData["Title"] = "Réservation en ligne";
}
<div class="row">
    <div class="col-12">
        <div class="page-title">
            <h2>Réservation complétée avec succès</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-none d-md-block">
        <img src="~/img/Complet.png" alt="RéservationComplétée" />
    </div>

    <div class="col-6 col-sm-12 text-center">
        <div class="row details-row">
            <div class="col-sm-6 font-weight-bold">@Html.DisplayNameFor(model => model.Nom) : </div>
            <div class="col-sm-6">@Html.DisplayFor(model => model.Nom)</div>
        </div>
        <div class="row details-row">
            <div class="col-sm-6 font-weight-bold">@Html.DisplayNameFor(model => model.Courriel) : </div>
            <div class="col-sm-6">@Html.DisplayFor(model => model.Courriel)</div>
        </div>
        <div class="row details-row">
            <div class="col-sm-6 font-weight-bold">@Html.DisplayNameFor(model => model.NbPersonne) : </div>
            <div class="col-sm-6">@Html.DisplayFor(model => model.NbPersonne)</div>
        </div>

        <div class="row details-row">
            <div class="col-sm-6 font-weight-bold">@Html.DisplayNameFor(model => model.DateReservation) : </div>
            <div class="col-sm-6">@Html.DisplayFor(model => model.DateReservation)</div>
        </div>
        <div class="row details-row">
            <div class="col-sm-6 font-weight-bold">@Html.DisplayNameFor(model => model.MenuChoiceId) : </div>
            <div class="col-sm-6">@Html.DisplayFor(model => model.MenuChoiceId)</div>
        </div>

        <p>Merci d'avoir utiliser notre module de réservation en ligne au plaisir de vous voir bientôt.</p>
        <br>
        <p>L'équipe</p>

        <a asp-area="" asp-controller="Home" asp-action="Index">Retourner à la page d'accueil'</a>
    </div>
</div>


