@model ProductListVM
@{
    ViewData["Title"] = "Liste des produits";
}

<div id="product-list-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>Liste des produits</h2>
                <p><a asp-action="Create">Ajouter un produit</a></p>
            </div>

            <table class="table table-sm table-bordered table-striped table-hover">
                <tr>
                    <!--
                    <th>Code</th>
                    <th>Nom du produit</th>
                    <th>Catégorie</th>
                    <th>Quantité en stock</th>
                    -->

                    <!-- Permet d'utiliser l'attribut Display(Name="...") de propriété du modèle -->
                    <!-- Permet de gérer l'affichage du modèle à un seul endroit -->

                    <th>@Html.DisplayNameFor(model => model.Products[0].Code)</th>
                    <th>@Html.DisplayNameFor(model => model.Products[0].Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Products[0].CategoryId)</th>
                    <th>@Html.DisplayNameFor(model => model.Products[0].QuantityInStock)</th>
                    <th>Actions</th>
                </tr>
                @if (Model.Products.Count > 0)
                {
                    foreach (Product product in Model.Products)
                    {
                        <tr>
                            <!--
                            <td>@*product.Code*@</td>
                            <td>@*product.Name*@</td>
                            <td>@*product.QuantityInStock*@</td>
                            -->
                            
                            <!-- Génère le html selon les attributs de propriété du modèle. Comme par exemple, l'attribut DisplayFormat(...) -->
                            <!-- Permet de gérer l'affichage du modèle à un seul endroit -->

                            <td>@Html.DisplayFor(model => product.Code)</td>
                            <td>@Html.DisplayFor(model => product.Name)</td>
                            <td>@Model.GetCategoryName(product.CategoryId)</td>
                            <td>@Html.DisplayFor(model => product.QuantityInStock)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@product.Id">Éditer</a>
                                <a asp-action="Delete" asp-route-id="@product.Id">Supprimer</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Aucun produit trouvé.</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
